# execute and library file
build/
__pycache__

# configuration file
#*.cfg

# training folder
go_19x19_*/
download_chess_game/
rank_50000_1000_2600_200interval/
rank_50000_1000_2600_200interval/
rank_100000_600_3000_100interval/
training_sgf_chess/
training_sgf/

bot_update_test.py

# others
.vscode
*.pt
*.pkl
*op.log
chess_8x8_bt_b32_*
candidate_sgf_chess/
query_sgf_chess/
query_sgf_chess/
lichess-bot-master/Python-3.10.14/*
chess_8x8_rank_20bx256-3db32e-dirty/chess_8x8_rank_20bx256-3db32e-dirty.cfg
chess_8x8_rank_20bx256-a10473-dirty/chess_8x8_rank_20bx256-a10473-dirty.cfg
