# execute and library file
build/
__pycache__

# configuration file
#*.cfg

# training folder
go_19x19_*/
download_chess_game/
rank_50000_1000_2600_200interval/
rank_50000_1000_2600_200interval/
training_sgf_chess/
training_sgf/

# others
.vscode
*.pt
*.pkl
*op.log
chess_8x8_bt_b32_*
candidate_sgf_chess/
query_sgf_chess/
